Browser Name,Target,Arguments
Google Chrome,C:\Program Files (x86)\Google\Chrome\Application\chrome.exe,--profile-directory=Default
Google Chrome - Incognito Mode,C:\Program Files (x86)\Google\Chrome\Application\chrome.exe,--incognito
Mozilla Firefox,C:\Program Files (x86)\Mozilla Firefox\firefox.exe
Firefox Developer Edition,C:\Program Files (x86)\Firefox Developer Edition\firefox.exe
Internet Explorer,C:\Program Files\Internet Explorer\iexplore.exe
