Store Name,Store Value,ONLINE url
Alexander McQueen,alexandermcqueen,www.alexandermcqueen.com
Balenciaga,balenciaga,www.balenciaga.com
Bottega Veneta,bottegaveneta,www.bottegaveneta.com
Brioni,brioni,www.brioni.com
Dodo,dodo,store.dodo.it
MCQ,mcq,www.mcq.com
Pomellato,pomellato,www.pomellato.com
Sergio Rossi,sr,www.sergiorossi.com
Stella McCartney,stellamccartney,www.stellamccartney.com
Saint Laurent,saintlaurent,www.ysl.com